name: CD - Deploy to Azure

on:
  push:
    branches:
      - azure-deployment-production

env:
  ACR_NAME: <YOUR_ACR_NAME>
  IMAGE_NAME: recotrack-api
  RESOURCE_GROUP: audioplatform-rg-dev-centralindia
  CONTAINER_APP_NAME: recotrack-api-app
  LOCATION: centralindia

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name $ACR_NAME

      - name: Build Docker image
        run: |
          docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }}

      - name: Create Container App (if not exists)
        run: |
          az extension add --name containerapp --upgrade || true

          if ! az containerapp show \
            --name $CONTAINER_APP_NAME \
            --resource-group $RESOURCE_GROUP >/dev/null 2>&1; then

            az containerapp up \
              --name $CONTAINER_APP_NAME \
              --resource-group $RESOURCE_GROUP \
              --location $LOCATION \
              --image $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }} \
              --target-port 8080 \
              --ingress external
          else
            az containerapp update \
              --name $CONTAINER_APP_NAME \
              --resource-group $RESOURCE_GROUP \
              --image $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }}
          fi